.Layout {
  height: 100%;

  .Header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .Title {
      width: 100%;
      align-self: center;
      text-align: center;
      margin: 0;
    }
  }

  .Main {
    overflow: scroll;
    max-height: 100%;
    background-color: #eeeeee;
    padding: 10px 5px;
  }
}
