.CredentialPage {
  width: 100%;

  .CredentialInfo {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .InfoSectionTitle {
      text-align: center;
    }
  }
}
